@charset "utf-8";

html {
  font-size: 62.5%;
  color: #333;
}

body {
  margin: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, h1, menu {
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  margin: 24px 0;
}

h2, h3 {
  color: #54B6E6;
}

.container {
  padding: 0 30px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header-address a {
  color: #E59A42;
}


.header-address {
  display: none;
}

.header-img-sp {
  display: none;
}

.footer-address-sp {
  display: none;
}

.display {
  display: none;
}

.active {
  display: block;
}

span.menu-icon {
  display: none;
}

i.fa-arrow-circle-up {
  display: none;
}

/*top*/
.top-wrapper {
  padding: 140px 0 100px 160px;
  background-image: url(hospital.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 20%;
}

.top-wrapper h1 {
  font-size: 4.0rem;
  line-height: 48px;
  color: #fff;

  text-shadow:
  black 1px 1px 0, black -1px -1px 0,
  black -1px 1px 0, black 1px -1px 0,
  black 0px 1px 0, black  0-1px 0,
  black -1px 0 0, black 1px 0 0;

}

/*menu*/
menu {
  height: 90px;
  background-color: #54B6E6;
  padding: 0;
}

menu ul {
  font-size: 0;
  text-align: center;
}

menu li {
  display: inline-block;
  width: 20%;
  font-size: 2.4rem;
  height: 90px;
  border-right: solid 2px #fff;
}

menu li:nth-child(1) {
  border-left: solid 2px #fff;
}

menu li a {
  display: block;
  height: 90px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 14px;

}

menu .sub {
  font-size: 1.4rem;
  display: none;
}

/*main*/
.main-wrapper h2 {
  font-size: 2.0rem;
}

.main-wrapper h3 {
  font-size: 1.6rem;
}

.main-contents time {
  color: #54B6E6;
  font-weight: bold;
}



.sub-contents p {
  color: #54B6E6;
  font-weight: bold;
  font-size: 2.0rem;
}

.sub-contents-h2 {
  letter-spacing: 4px;
  background-color: #FEF8BF;
  padding: 5px 10px;
  border-radius: 5px;
}



.week {
  float: left;
  width: auto;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  background-color: #54B6E6;
  border-radius: 5px;
  padding: 12px 10px 10px;
  letter-spacing: 5px;
}

.weekend {
  background-color: #E59A42;
}

.weekend-time {
  margin-top: 14px;
}

/*footer*/
footer {
  background-color: #54B6E6;
  margin-top: 30px;
  padding: 20px 0;
}

footer a {
  text-decoration: underline;
  color: #14658C;

}

footer .back {
  font-size: 1.8rem;
}

.footer-wrapper {
  margin: 20px 0;
}

.footer-wrapper ul {
  float: left;
  width: auto;

  padding-right: 24px;
}

.footer-wrapper a {
  font-size: 1.64em;
}


.footer-wrapper li {
  margin-bottom: 6px;
}

/*arrow*/
.fa-arrow-circle-up {
  font-size: 60px;
  color: #E59A42;
  cursor: pointer;
  position :fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  opacity: 0.8;
}

@media (min-width: 1001px) {

  /*menu*/
  menu .sub {
    display: block;
  }

  /*main*/
  .main-contents {
    padding-right: 14px;
  }


  .main-contents {
    float: left;
    width: 70%;
  }

  .sub-contents {
    float: left;
    width: 30%;
  }

  .sub-contents {
    text-align: right;
  }

  .time {
    float: right;
    width: auto;
  }


}

@media (max-width: 1000px) {

  /*header*/
  .header-address p {
    font-size: 1.4rem;
  }

  .header-img {

    margin-top: 20px;
  }


  /*top*/
  .top-wrapper {
    padding: 120px 0 100px 60px;
  }

  .top-wrapper h1 {
    font-size: 3.0rem;
    line-height: 38px;
  }

  /*menu*/
  menu li {
    font-size: 1.6rem;
  }

  menu li a {
    padding-top: 34px;

  }

  /*main*/
  .time p:nth-child(1)::before {
    content: "0";
    color: #fff;
  }

  .week {
    margin-right: 6px;
  }

  .Android {
    padding: 0px 10px 10px;
  }


}

@media (min-width: 671px) {
  header {
    margin-bottom: 12px;
  }

  .header-img {
    float: left;
    width: 30%;
    margin-top: 12px;
  }

  .header-address {
    display: block;
    float: right;
    width: 70%;
    text-align: right;
    margin-top: 12px;
  }

  /*main*/
  .main-wrapper .about {
    float:left;
    width: 33.333%;
  }

  .main-wrapper .about img {
    width: 170px;
    height: 120px;
  }

  .main-wrapper .about {
    padding-right: 20px;
  }

}

@media (max-width: 670px) {

  .container {
    padding: 0 10px;
  }

  /*header*/
  .header-pc {
    display: none;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(20, 101, 140, 0.7);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .header-img-sp {
    display: block;
    float: left;
    width: 200px;
    height: auto;
    margin: 12px 0 0 0px;
  }

  span.menu-icon {
    color: #fff;
    float: right;
    font-size: 2.8rem;
    display: block;
    margin: 20px;
  }

  span.menu-icon:hover {
    cursor: pointer;
  }

  /*nav*/
  .menu-sp {
    top: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(12, 60, 84, 0.9);
    padding: 20px 0;
  }

  .menu-sp li {
    border-bottom: solid 2px #fff;
  }

  .menu-sp li a {
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    padding: 5px 10px;
    transition: all 0.5s;
    letter-spacing: 6px;
  }

  .menu-sp li:nth-child(1) {
    border-top: solid 2px #fff;
  }

  .menu-sp li a:hover {
    color: #0C3C54;
    background-color: #fff;
  }

  /*top*/
  .top-wrapper {
    padding: 130px 0 160px 10px;
  }

  .top-wrapper h1 {
    font-size: 2.0rem;
    line-height: 28px;
  }

  .bar::before {
    content: '\A';
    white-space:pre;
  }

  /*menu*/
  menu {
    display: none;
  }

  /*main*/
  .main-wrapper .about img {
    width: 100%;
    height: auto;
  }

  .main-wrapper .about {
    margin-bottom: 20px;
  }

  /*footer*/
  .footer-address-sp {
    display: block;
    color: #fff;
  }

  .footer-address-sp a {
    color: #E59A42;
  }

}
